<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li> <button (click)="onGetAllProduct()" class="btn btn-outline-info ml-4">All</button></li>
        <li> <button (click)="onGetSelectedProducts()" class="btn btn-outline-info ml-4">Selected</button></li>
        <li> <button (click)="onGetAvallableProducts()" class="btn btn-outline-info ml-4">Avallable</button></li>
        <li> <button (click)="onGetTest()" class="btn btn-outline-info ml-4">Test</button></li>
        <li> <button (click)="onNewProduct()" class="btn btn-outline-info ml-4">addProduct</button></li>

    </ul>

</nav>